{% extends "master.html" %}

{% block title %}
    Food Master | Register
{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}

{{ message }}

<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}

    <ul>
        <li><label for="id_first_name" class="main_label">
            {% if form.first_name.errors %}
                {{ form.first_name.errors }}
            {% endif %}
            First name:</label>
        </li>
        <li>
            {{ form.first_name }}
        </li>
        <li><label for="" class="main_label">
            {% if form.last_name.errors %}
                {{ form.last_name.errors }}
            {% endif %}
            Last name:</label>
        </li>
        <li>
            {{ form.last_name }}
        </li>
        <li><label for="" class="main_label">
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            Email:</label>
        </li>
        <li>
            {{ form.email }}
        </li>
        <li><label for="" class="main_label">
            {% if form.username.errors %}
                {{ form.username.errors }}
            {% endif %}
            Username:</label>
        </li>
        <li>
            {{ form.username }}
        </li>
        <li><label for="" class="main_label">
            {% if form.password.errors %}
                {{ form.password.errors }}
            {% endif %}
            Password:</label>
        </li>
        <li>
            {{ form.password }}
        </li>
        <li><label for="" class="main_label">
            {% if form.confirm_password.errors %}
                {{ form.confirm_password.errors }}
            {% endif %}
            Confirm Password:</label>
        </li>
        <li>
            {{ form.confirm_password }}
        </li>
    </ul>
    <input type="submit" name="" value="Register">
</form>

{% endblock content %}


{% block scripts %}

{% endblock scripts %}
